<!DOCTYPE html>
<html>
<head>
<title>Inventory Tracker</title>
</head>
<body>

    <h1>Add Item</h1>

    <form action="additems" method="POST">

    <div>
        <label>
          Image
          <input type="img" name="img">
        </label>
    </div>

    <div>
      <label>
        Name
        <input type="name" name="name">
      </label>
    </div>

    <div>
        <label>
            Quantity
            <input type="quantity" name="quantity">
        </label>
    </div>

    <div>
        <label>
          Size
          <input type="size" name="size">
        </label>
    </div>


    <div>
      <input type="submit" class="btn btn-primary" value="additems">
    </div>

    </form>

</body>
</html>