<!DOCTYPE html>
<html>
<head>
<title>Inventory Tracker</title>
</head>
<body>

    <h1>Edit Item</h1>

    <form action="edit" method="POST">

    <div>
      <label>
        Name
        <input type="name" name="name" value="{{item.name}}">
      </label>
    </div>

    <div>
      <label>
        Quantity
        <input type="quantity" name="quantity" value="{{item.quantity}}">
      </label>
    </div>

    <div>
        <label>
          Size
          <input type="size" name="size" value="{{item.size}}">
        </label>
    </div>

    <div>
      <input type="submit" class="btn btn-primary" value="save">
    </div>

    </form>

</body>
</html>