<!DOCTYPE html>
<html>
<head>
<title>Inventory Tracker</title>
</head>
<body>

    <h1>Sold</h1>

    <form action="add_item" method="POST">

    <div>
      <label>
        Sold Price:
        <input type="sold_price" name="sold_price">
      </label>
    </div>

    <div>
      <label>
        Shipping Price:
        <input type="shipping_price" name="shipping_price">
      </label>
    </div>

    <div>
      <input type="submit" class="btn btn-primary" value="update_item">
    </div>

    </form>

</body>
</html>